* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0ff; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #72044e; 
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    color: white;
}

.sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 2px solid #fff;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.2rem;
    text-align: left; 
    padding: 10px;
    width: 100%; 
    box-sizing: border-box; 
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #d594c1;
    color: #020004;
    border-radius: 5px;
}

main {
    margin-left: 250px;
    padding: 20px;
}

section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.active {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

p {
    margin: 5px 0;
    font-size: 1.2rem;
}

.container {
    max-width: 800px;
    background-color: #020000ad;
    color: #d9d9d9;
    border-radius: 20px;
    width: 700px;
    padding: 50px 70px;
}

.bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(76, 0, 130, 0.114); 
    border-radius: 50%;
    animation: float 8s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}